<footer class="text-center text-lg-start" style="background-color: var(--second-color);">
    <div class="container d-flex justify-content-center py-5">
        <a href="#" class="mx-2">Contact</a>
        <a href="#" class="mx-2">Conditions</a>
    </div>

    <!-- Copyright -->
    <div class="text-center text-white p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2020 Copyright:
        <a class="text-white" href="https://mdbootstrap.com/">MDBootstrap.com</a>
    </div>
    <!-- Copyright -->
</footer>
