<div class="wrapper" id="wrapper">
    <nav>
        <input type="checkbox" id="show-search">
        <div class="content" id="content">
            <div class="burger" id="burger" >
                <div class="bar1"></div>
                <div class="bar2"></div>
                <div class="bar3"></div>
            </div>
            <div class="logo">
                <a href="{{ path('home') }}">
                    <img data-aos="fade-right" src="{{ asset('build/images/logo_mediathales_whiteWS.png') }}" height="60vh" alt="logo en grand">
                </a>
            </div>
            <ul class="links" id="links">
                <li>
                    <a href="#" class="desktop-link">Livre</a>
                    <input type="checkbox" id="show-livre">
                    <label for="show-livre">Livre</label>
                    <ul class="dropdown-multicol">
                        <li class="dropdown-col"><a href="#">Drop Menu 1</a></li>
                        <li class="dropdown-col"><a href="#">Drop Menu 2</a></li>
                        <li class="dropdown-col"><a href="#">Drop Menu 3</a></li>
                        <li class="dropdown-col"><a href="#">Drop Menu 4</a></li>
                        <li class="dropdown-col"><a href="#">Drop Menu 1</a></li>
                        <li class="dropdown-col"><a href="#">Drop Menu 2</a></li>
                        <li class="dropdown-col"><a href="#">Drop Menu 3</a></li>
                        <li class="dropdown-col"><a href="#">Drop Menu 1</a></li>
                        <li class="dropdown-col"><a href="#">Drop Menu 2</a></li>
                        <li class="dropdown-col"><a href="#">Drop Menu 3</a></li>
                        <li class="dropdown-col"><a href="#">Drop Menu 4</a></li>
                        <li class="dropdown-col"><a href="#">Drop Menu 1</a></li>
                        <li class="dropdown-col"><a href="#">Drop Menu 2</a></li>
                        <li class="dropdown-col"><a href="#">Drop Menu 3</a></li>
                        <li class="dropdown-col"><a href="#">Drop Menu 1</a></li>
                        <li class="dropdown-col"><a href="#">Drop Menu 2</a></li>
                        <li class="dropdown-col"><a href="#">Drop Menu 3</a></li>
                        <li class="dropdown-col"><a href="#">Drop Menu 4</a></li>
                        <li class="dropdown-col"><a href="#">Drop Menu 1</a></li>
                        <li class="dropdown-col"><a href="#">Drop Menu 2</a></li>
                        <li class="dropdown-col"><a href="#">Drop Menu 3</a></li>
                        <li class="dropdown-col"><a href="#">Drop Menu 1</a></li>
                        <li class="dropdown-col"><a href="#">Drop Menu 2</a></li>
                        <li class="dropdown-col"><a href="#">Drop Menu 3</a></li>
                        <li class="dropdown-col"><a href="#">Drop Menu 4</a></li>
                        <li class="dropdown-col"><a href="#">Drop Menu 1</a></li>
                        <li class="dropdown-col"><a href="#">Drop Menu 2</a></li>
                        <li class="dropdown-col"><a href="#">Drop Menu 3</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#" class="desktop-link">Video</a>
                    <input type="checkbox" id="show-video">
                    <label for="show-video">Video</label>
                    <ul class="dropdown-multicol">
                        <li class="dropdown-col"><a href="#">Drop Menu 1</a></li>
                        <li class="dropdown-col"><a href="#">Drop Menu 2</a></li>
                        <li class="dropdown-col"><a href="#">Drop Menu 3</a></li>
                        <li class="dropdown-col"><a href="#">Drop Menu 4</a></li>
                        <li class="dropdown-col"><a href="#">Drop Menu 1</a></li>
                        <li class="dropdown-col"><a href="#">Drop Menu 2</a></li>
                        <li class="dropdown-col"><a href="#">Drop Menu 3</a></li>
                        <li class="dropdown-col"><a href="#">Drop Menu 1</a></li>
                        <li class="dropdown-col"><a href="#">Drop Menu 2</a></li>
                        <li class="dropdown-col"><a href="#">Drop Menu 3</a></li>
                        <li class="dropdown-col"><a href="#">Drop Menu 4</a></li>
                        <li class="dropdown-col"><a href="#">Drop Menu 1</a></li>
                        <li class="dropdown-col"><a href="#">Drop Menu 2</a></li>
                        <li class="dropdown-col"><a href="#">Drop Menu 3</a></li>
                        <li class="dropdown-col"><a href="#">Drop Menu 1</a></li>
                        <li class="dropdown-col"><a href="#">Drop Menu 2</a></li>
                        <li class="dropdown-col"><a href="#">Drop Menu 3</a></li>
                        <li class="dropdown-col"><a href="#">Drop Menu 4</a></li>
                        <li class="dropdown-col"><a href="#">Drop Menu 1</a></li>
                        <li class="dropdown-col"><a href="#">Drop Menu 2</a></li>
                        <li class="dropdown-col"><a href="#">Drop Menu 3</a></li>
                        <li class="dropdown-col"><a href="#">Drop Menu 1</a></li>
                        <li class="dropdown-col"><a href="#">Drop Menu 2</a></li>
                        <li class="dropdown-col"><a href="#">Drop Menu 3</a></li>
                        <li class="dropdown-col"><a href="#">Drop Menu 4</a></li>
                        <li class="dropdown-col"><a href="#">Drop Menu 1</a></li>
                        <li class="dropdown-col"><a href="#">Drop Menu 2</a></li>
                        <li class="dropdown-col"><a href="#">Drop Menu 3</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#" class="desktop-link">Musique</a>
                    <input type="checkbox" id="show-musique">
                    <label for="show-musique">Musique</label>
                    <ul class="dropdown-multicol">
                        <li class="dropdown-col"><a href="#">Drop Menu 1</a></li>
                        <li class="dropdown-col"><a href="#">Drop Menu 2</a></li>
                        <li class="dropdown-col"><a href="#">Drop Menu 3</a></li>
                        <li class="dropdown-col"><a href="#">Drop Menu 4</a></li>
                        <li class="dropdown-col"><a href="#">Drop Menu 1</a></li>
                        <li class="dropdown-col"><a href="#">Drop Menu 2</a></li>
                        <li class="dropdown-col"><a href="#">Drop Menu 3</a></li>
                        <li class="dropdown-col"><a href="#">Drop Menu 1</a></li>
                        <li class="dropdown-col"><a href="#">Drop Menu 2</a></li>
                        <li class="dropdown-col"><a href="#">Drop Menu 3</a></li>
                        <li class="dropdown-col"><a href="#">Drop Menu 4</a></li>
                        <li class="dropdown-col"><a href="#">Drop Menu 1</a></li>
                        <li class="dropdown-col"><a href="#">Drop Menu 2</a></li>
                        <li class="dropdown-col"><a href="#">Drop Menu 3</a></li>
                        <li class="dropdown-col"><a href="#">Drop Menu 1</a></li>
                        <li class="dropdown-col"><a href="#">Drop Menu 2</a></li>
                        <li class="dropdown-col"><a href="#">Drop Menu 3</a></li>
                        <li class="dropdown-col"><a href="#">Drop Menu 4</a></li>
                        <li class="dropdown-col"><a href="#">Drop Menu 1</a></li>
                        <li class="dropdown-col"><a href="#">Drop Menu 2</a></li>
                        <li class="dropdown-col"><a href="#">Drop Menu 3</a></li>
                        <li class="dropdown-col"><a href="#">Drop Menu 1</a></li>
                        <li class="dropdown-col"><a href="#">Drop Menu 2</a></li>
                        <li class="dropdown-col"><a href="#">Drop Menu 3</a></li>
                        <li class="dropdown-col"><a href="#">Drop Menu 4</a></li>
                        <li class="dropdown-col"><a href="#">Drop Menu 1</a></li>
                        <li class="dropdown-col"><a href="#">Drop Menu 2</a></li>
                        <li class="dropdown-col"><a href="#">Drop Menu 3</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#" class="desktop-link">Jeu</a>
                    <input type="checkbox" id="show-jeu">
                    <label for="show-jeu">Jeu</label>
                    <ul class="dropdown-multicol">
                        <li class="dropdown-col"><a href="#">Drop Menu 1</a></li>
                        <li class="dropdown-col"><a href="#">Drop Menu 2</a></li>
                        <li class="dropdown-col"><a href="#">Drop Menu 3</a></li>
                        <li class="dropdown-col"><a href="#">Drop Menu 4</a></li>
                        <li class="dropdown-col"><a href="#">Drop Menu 1</a></li>
                        <li class="dropdown-col"><a href="#">Drop Menu 2</a></li>
                        <li class="dropdown-col"><a href="#">Drop Menu 3</a></li>
                        <li class="dropdown-col"><a href="#">Drop Menu 1</a></li>
                        <li class="dropdown-col"><a href="#">Drop Menu 2</a></li>
                        <li class="dropdown-col"><a href="#">Drop Menu 3</a></li>
                        <li class="dropdown-col"><a href="#">Drop Menu 4</a></li>
                        <li class="dropdown-col"><a href="#">Drop Menu 1</a></li>
                        <li class="dropdown-col"><a href="#">Drop Menu 2</a></li>
                        <li class="dropdown-col"><a href="#">Drop Menu 3</a></li>
                        <li class="dropdown-col"><a href="#">Drop Menu 1</a></li>
                        <li class="dropdown-col"><a href="#">Drop Menu 2</a></li>
                        <li class="dropdown-col"><a href="#">Drop Menu 3</a></li>
                        <li class="dropdown-col"><a href="#">Drop Menu 4</a></li>
                        <li class="dropdown-col"><a href="#">Drop Menu 1</a></li>
                        <li class="dropdown-col"><a href="#">Drop Menu 2</a></li>
                        <li class="dropdown-col"><a href="#">Drop Menu 3</a></li>
                        <li class="dropdown-col"><a href="#">Drop Menu 1</a></li>
                        <li class="dropdown-col"><a href="#">Drop Menu 2</a></li>
                        <li class="dropdown-col"><a href="#">Drop Menu 3</a></li>
                        <li class="dropdown-col"><a href="#">Drop Menu 4</a></li>
                        <li class="dropdown-col"><a href="#">Drop Menu 1</a></li>
                        <li class="dropdown-col"><a href="#">Drop Menu 2</a></li>
                        <li class="dropdown-col"><a href="#">Drop Menu 3</a></li>
                    </ul>
                </li>
                <hr style="width: 200px; height: 10px; margin: 5% 10px 0 10px;color: #FFFFFF;line-height: 70px;">
                <li>
                    <a href="#" class="desktop-link">Gestion</a>
                    <input type="checkbox" id="show-gestion">
                    <label for="show-gestion">Services</label>
                    <ul class="dropdown-multicol2">
                        <li class="dropdown-col2"><a href="#">Emprunts</a></li>
                        <li class="dropdown-col2"><a href="#">Commandes</a></li>
                        <li class="dropdown-col2"><a href="#">Articles</a></li>
                        <li class="dropdown-col2"><a href="#">Utilisateurs</a></li>
                        <li class="dropdown-col2"><a href="#">Logs</a></li>
                        <li class="dropdown-col2"><a href="#">Annonces</a></li>
                        <li class="dropdown-col2"><a href="#">Statistiques</a></li>
                        <li class="dropdown-col2"><a href="#">Base de données</a></li>
                        <li class="dropdown-col2"><a href="#">Paramètres</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <form action="#" class="search-box" id="form-search">
            <input type="text" placeholder="Type Something to Search..." required>
            <button type="submit" class="go-icon grow"><i class="fas fa-long-arrow-alt-right"></i></button>
        </form>
        <a href="#" id="searchLoop" class="grow ms-auto mx-2"><i id="loop" class="fas fa-search"></i></a>
        <a href="{{ path('security_logout') }}" class="grow"><i class="fas fa-sign-out-alt grow"></i></a>
    </nav>
</div>
