@import "custom";
@import "~bootstrap/scss/bootstrap";
@import "connexion.css";
@import "navBar.css";
:root {
    --main-color: #FAFAFA;
    --second-color: #25737d;
}
body {
    background: #FAFAFA;
}
$blockquote-footer-color: var(--second-color);


