@import "custom";
@import "~bootstrap/scss/bootstrap";
@import "connexion.css";
@import "./base/navBar.css";
@import "./base/footer.css";
@import "./base/datatable.css";
@import "./base/container.css";
:root {
    --main-color: #FAFAFA;
    --second-color: #25737d;
}
body {
    background: #FAFAFA;
}


