body {
    padding: 0;
    margin: 0;
    height: 100vh;
    font-family: "Nunito Sans", serif;
}

.form-control {
    line-height: 2;
}

.bg-custom {
    background-color: var(--second-color);
}

.btn-custom {
    background-color: #3e3d56;
    color: #fff;
}

.btn-custom:hover {
    background-color: #33313f;
    color: #fff;
}

.mb-3 label {
    color: #fff;
}

a,
a:hover {
    color: #fff;
    text-decoration: none;
}

a,
a:hover {
    text-decoration: none;
}

@media(max-width: 932px) {
    div .display-none {
        display: none !important;
    }
}

@media screen and (max-width: 932px){
    div .display-none {
        display: none !important;
    }
}
