<!DOCTYPE html>
<html lang="fr">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{% block title %}Welcome!{% endblock %}</title>
  {{ encore_entry_link_tags('app') }}
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&display=swap" rel="stylesheet"
  {% block stylesheets %}{% endblock %}

  {% block javascripts %}{% endblock %}
</head>

{% block body %}
  <body>
    {% block header %}
      <header>
        {{ include('navBar.html.twig') }}
      </header>
    {% endblock header %}
    <div>
      <h1>test</h1>
      <h1>test</h1>
      <h1>test</h1>
      v
      <h1>test</h1>
      v
      v
      vv<h1>test</h1><h1>test</h1><h1>test</h1>
      <h1>test</h1>
      <h1>test</h1>
      <h1>test</h1>
      <h1>test</h1><h1>test</h1><h1>test</h1>
      <h1>test</h1>
      <h1>test</h1>
      <h1>test</h1>
      <h1>test</h1>
    </div>
  </body>
{% endblock %}
{% block footer %}
  {{ include('footer.html.twig') }}
{% endblock footer %}
{{ encore_entry_script_tags('app') }}
</html>
